body {
    background: #e9d4d2;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

#top {
    background:#d3b6c2;
}

h1 {
    color: #253d5b;
}
h2 {
    color:#5a5d70;
}

h3 {
    color: #6e8db9;
}
.description {
    color: #bd4021;
    border-bottom: 3px dashed #b999a6;
}

.footer {
    max-width: 1000px;
    margin: 50px  auto;
    background:#d3b6c2;
    color: #4718b3;
}
