html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(
    180deg,
    rgba(233, 212, 210, 1) 69%,
    rgba(211, 182, 194, 1) 85%
  );
  max-width: 1000px;
  margin: 0 auto;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.navigation {
  display: flex;

  justify-content: space-around;
  align-items: center;
  background: #d3b6c2;
  border-radius: 10px;
  width: 1000px;
  height: 50px;

  position: fixed;
}

.navigation__link {
  color: #0b4d79;
}

.navigation__link--homepage {
  color: #bd4021;
}

h1 {
  color: #253d5b;
}
h2 {
  color: #5a5d70;
}

h3 {
  color: #6e8db9;
}
.description {
  color: #bd4021;
  border-bottom: 3px dashed #b999a6;
}

.footer {
  max-width: 1000px;
  margin: 50px auto;
  background: #d3b6c2;
  color: #4718b3;
}

.list__item {
  list-style: upper-roman;
}
.table {
  border: solid 3px #5a5d70;
}
.table__caption {
  border: solid 5px #5a5d70;
  background: #cbcedd;
}
